.cmake
build/**
*.tgz
*.zip
shaderc-main
saschaVulkan
qt-android-cmake
engine
sample1/tools
sample1/minimalCompute.cpp
sample1/triangle.cpp
vulkan_minimal_compute

sample1/.vscode/launch.json

sample1/.vscode/settings.json

sample1/.vscode/tasks.json

sample1/sample1.code-workspace

sample1/thirdparty/imgui/

sample1/thirdparty/shaderc/

thirdparty/shaderc/
